*{
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(#F4E4FF, #AD90C0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

html{
  overflow: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --purple1: #E3C3D8;
}

#right{
  display: flex;
  justify-content: right;
}

#heading{
  font-family: "Open Sans", serif;
  font-size: 2rem;
  color: #5C2649;
  margin: 20px;
  margin-left: 60px;
  font-weight: bold;
}

#subheading{
  font-family: "Open Sans", serif;
  font-size: 1.5rem;
  color: #5C2649;
  margin: 20px;
  margin-left: 60px;
}

/*sizing of map */
.leaflet-container{
  height: 70vh;
  width: 100%;
  position: relative;
}


#but1{
  display: flex;
  border-radius: 20px;
  font-family: "Open Sans", serif;
  margin-top:100px;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  left: 25%;
  transform: translateX(-50%);
  z-index: 1000;
}


.card{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  height: 200px;
  background-color: rgb(82, 34, 68);
  font-family: "Open Sans", serif;
  color: rgb(43, 13, 80);
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 12rem;
  margin-top: 10rem;
}

.content-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}

.chatbot-container, .map-container {
  flex: 1; 
  max-width: 50%; 
}

.map-container, .chatbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.card h3{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0;
}

.card h3:hover{
  color: aliceblue;

}


#heading{
  margin-top: 200px;
}
#subheading{
  margin-bottom: 300px;
  padding-left: 100px;
}
/*navbar editing*/
.navbar{
  display:Flex;
  justify-content: space-between;
}

ul{
  list-style: none;
  display: flex;
  margin-left: 55px;
  margin-right: 10px;
}

ul li:not(:first-child){
  padding: 10px;
  background-color: #e5bde5;
  font-family: "Open Sans", serif;
  margin: 10px;
}
.logo{
  font-size: 30px;
  font-family: "Cedarville Cursive", cursive;
}

.colour {
  margin-top:10px;

}
.colour a{
  color: rgb(115, 63, 199);
  text-decoration: none;
}

.colour:hover {
  color: rgb(92, 38, 73);
  border: 3px solid black;
}
#right-corner{
  margin-left: 600px;
}
/*responsive design*/
